root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
indent_style = space
indent_size = 2

[*.tf]
indent_style = space
indent_size = 2

[*.tfvars]
indent_style = space
indent_size = 2

[*.tftpl]
indent_style = space
indent_size = 2

[*.hcl]
indent_style = space
indent_size = 2

[*.nomad.tpl]
indent_style = space
indent_size = 2
