[defaults]

host_key_checking = no
stdout_callback = ansible.posix.debug
display_skipped_hosts = yes
display_ok_hosts = yes
callback_whitelist = timer, profile_tasks
deprecation_warnings = False
forks = 3
inventory = ./environments/interserver-run4w4y/hosts.cfg
roles_path = roles

[ssh_connection]

scp_if_ssh = true
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
pipelining = True
